<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    colors                      = "true"
    stopOnFailure               = "false"
    syntaxCheck                 = "true"
    >
    <testsuites>
        <testsuite name="Config tests">
            <directory>test/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="coverage" />
    </logging>
</phpunit>
